/.idea/
/node_modules/
/logs/**
!/logs/.gitkeep

config.js

/database/servers/enmap.sqlite
/database/servers/enmap.sqlite-wal
/database/servers/enmap.sqlite-shm

/database/users/enmap.sqlite
/database/users/enmap.sqlite-wal
/database/users/enmap.sqlite-shm